<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
    <!-- Agregamos jQuery -->
    <script src="{{ url_for('static', filename='lib/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js.cookie.min.js') }}"></script>
    <!-- Agregar hojas de estilo personalizadas -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/styles.css') }}">
</head>

<body>
    <div class="login-box">
        <h2>Registro de Usuario</h2>
        <form id="registration-form" enctype="multipart/form-data">
            <div class="user-box">
                <input type="text" id="nombre" name="nombre" required>
                <label>Nombre (Campo requerido)</label>
            </div>
            <div class="user-box">
                <input type="text" id="apellidos" name="apellidos" required>
                <label>Apellidos</label>
            </div>
            <div class="user-box">
                <input type="text" id="dni" name="dni" required>
                <label>DNI o Documento (Campo requerido)</label>
            </div>
            <div class="user-box">
                <input type="text" id="nick" name="nick" required>
                <label>Nick (Campo requerido)</label>
            </div>
            <div class="user-box">
                <input type="password" id="password" name="password" required>
                <label>Contraseña (mínimo 8 caracteres)</label>
            </div>
            <div id="error-message" class="color-yellow"></div>
            <div class="center mb-2 color-yellow">
                <button type="button" id="register-button" class="a btn-register">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Registrarse
                </button>
            </div>
        </form>
        <div id="response" class="mt-3 text-center color-yellow"></div>
        <div class="center mt-2">
            <p class="color-white">¿Ya tienes una cuenta? <a href="#" id="login-link">Iniciar sesión</a></p>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Captura el evento de clic en el botón de registro
            $("#register-button").click(function () {
                // Obtiene los valores de los campos del formulario
                var nombre = $("#nombre").val();
                var apellidos = $("#apellidos").val();
                var dni = $("#dni").val();
                var nick = $("#nick").val();
                var password = $("#password").val();
                // Realiza las validaciones
                if (dni.length < 8) {
                    $("#error-message").text("El numero de documento debe tener al menos 8 caracteres.");
                    return; // Detiene el proceso si la validación falla
                }
                // Realiza las validaciones
                if (password.length < 6) {
                    $("#error-message").text("La contraseña debe tener al menos 6 caracteres.");
                    return; // Detiene el proceso si la validación falla
                }

                // Verifica si los campos obligatorios están vacíos
                if (!nombre || !nick || !password) {
                    $("#error-message").text("Todos los campos obligatorios deben completarse.");
                    return; // Detiene el proceso si la validación falla
                }

                // Hashear la contraseña utilizando crypto.subtle
                window.crypto.subtle.digest('SHA-256', new TextEncoder().encode(password))
                    .then(function (hashBuffer) {
                        // Convertir el resultado del hash a una cadena hexadecimal
                        var hashArray = Array.from(new Uint8Array(hashBuffer));
                        var hashHex = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');
                        // Crea un objeto de datos en formato JSON con la contraseña hasheada
                        var userData = {
                            nombre: nombre,
                            apellidos: apellidos,
                            dni: dni,
                            nick: nick,
                            password: hashHex
                            // Agrega otros campos aquí según sea necesario
                        };

                        // Realiza la solicitud AJAX POST con la contraseña hasheada
                        $.ajax({
                            type: "POST",
                            url: "/register",  // Ruta de la API Flask
                            contentType: "application/json",  // Especifica el tipo de contenido JSON
                            data: JSON.stringify(userData),  // Convierte los datos a JSON
                            success: function (response) {
                                // Maneja la respuesta exitosa
                                console.log("Registro exitoso:", response);
                                // Supongamos que has recibido el token en la respuesta del servidor y lo guardas en una variable llamada 'token'
                                var token = response.access_token; // Asegúrate de obtener el token de la respuesta

                                // Establece la cookie utilizando jQuery
                                Cookies.set('jwt_token', token, { expires: 7 });

                                $("#error-message").text(response.message);
                                if(response.message== "Nuevo usuario registrado.")
                                    // Redirige al usuario a la página de inicio de sesión
                                    window.location.href = "/register"; // Reemplaza "/login" con la URL real de tu página de inicio de sesión
                            },
                            error: function (error) {

                                $("#error-message").text(error.message);
                                // Maneja el error
                                console.error("Error en el registro:", error);
                                // Puedes mostrar un mensaje de error o manejarlo de otra manera
                            }
                        });
                    })
                    .catch(function (err) {
                        console.error(err);
                    });
            });

            // Agrega el evento de clic al enlace "Iniciar sesión"
            $("#login-link").click(function (e) {
                e.preventDefault(); // Previene la acción predeterminada del enlace (navegar a una URL)

                // Redirige al usuario a la página de inicio de sesión
                window.location.href = "/login"; // Reemplaza "/login" con la URL real de tu página de inicio de sesión
            });
        });
    </script>

</body>

</html>
